/* ====================== */
/* CSS for Main.view.xml  */
/* ====================== */
@import "variables.less";

.customVerticalLayout1.sapUiVlt,
.customVerticalLayout2.sapUiVlt,
.customVerticalLayout3.sapUiVlt,
.customVerticalLayout4.sapUiVlt {
  display: block;
  text-align: @main-customVerticalLayouts-text-align;
}

.customVerticalLayout1.sapUiVlt {
  height: @main-customVerticalLayout1-height;
}

.customVerticalLayout4.sapUiVlt {
  height: @main-customVerticalLayout4-height;
}

.customVerticalLayout1 {
  .sapMLabel {
    font-size: @main-customVerticalLayout1-sapMLabel-font-size;
    color: @main-customVerticalLayout1-sapMLabel-color;
  }
}
