@import "Main.less";
@import "CheckYourself.less";
@import "Class.less";
@import "Chapter.less";
@import "variables.less";

                                                    /*background*/
.pageMain,
.pageCheckYourself,
.pageClass,
.pageChapter,
.pageAboutWebsite {
  background-image: @allViews-background-image;
  background-size: @allViews-background-size;
}

                                                    /*header*/
.customHeader.sapContrast.sapTntToolHeader.sapMTB,
.customHeader.sapTntToolHeader.sapMTB {
  background-color: transparent;
  border: @allViews-customHeader-border;
}

.customHeader {
  .sapMText {
    font-size: @allViews-customHeader-sapMText-font-size;
  }
}

.customHeader {
  .customHeaderText {
    position: absolute;
    left: @allViews-customHeader-customHeaderText-left;
  }
}

.customHeader.sapContrast.sapMText {
  color: @allViews-customHeader-sapMText-color;
}

.customHeader.sapContrast {
  .sapMText {
    color: @allViews-customHeader-sapMText-color;
  }
}

                                                    /*side navigation*/
.pageMain {
  .sapTntSideNavigation {
    width: @allViews-sideNavigation-width;
  }
}

.sap-desktop .pageMain .sapTntToolPageAside + .sapTntToolPageMain, .sap-tablet .pageMain .sapTntToolPageAside + .sapTntToolPageMain {
  padding-left: @allViews-sideNavigation-width;
}

                                                    /*buttons*/
.customBlueButton .sapMBtnInner {
  background-color: @allViews-customBlueButton-background-color;
  color: @allViews-customBlueButton-color;
}

.customGreenButton .sapMBtnInner {
  background-color: @allViews-customGreenButton-background-color;
  color: @allViews-customGreenButton-color;
}
