@charset "UTF-8";

// -------------------------------------------------------
// css for all views
// -------------------------------------------------------
@allViews-background-image: linear-gradient(rgba(219, 219, 220, 0.2), rgba(219, 219, 220, 0.2)), url("../images/background1.png");
@allViews-background-size: cover;
@customHeader-border: 0;
@customHeader-sapMText-font-size: 1.7rem;
@customHeader-customHeaderText-left: calc(50% - 19px);
@customHeader-sapMText-color: #1d2424;
@customBlueButton-background-color: #69849b;
@customBlueButton-color: #1d2424;
@customGreenButton-background-color: #3d6a66;
@customGreenButton-color: #1d2424;

// -------------------------------------------------------
// css for Main view
// -------------------------------------------------------
@main-customVerticalLayouts-text-align: center;
@main-customVerticalLayout1-height: 100px;
@main-customVerticalLayout4-height: 400px;
@main-customVerticalLayout1-sapMLabel-font-size: 36px;
@main-customVerticalLayout1-sapMLabel-color: blue;

// -------------------------------------------------------
// css for CheckYourself view
// -------------------------------------------------------
