                                                                 /*pageMain*/
.pageMain, .pageCheckYourself, .pageClass, .pageChapter, .pageAboutWebsite {
  background-image: linear-gradient(rgba(219, 219, 220, 0.2), rgba(219, 219, 220, 0.2)), url("../images/background1.png");
  background-size: cover;
}

                                                                 /*header*/
.customHeader.sapContrast.sapTntToolHeader.sapMTB,
.customHeader.sapTntToolHeader.sapMTB {
  background-color: transparent;
  border: 0;
}
.customHeader .sapMText {
  font-size: 1.7rem;
}
.customHeader .customHeaderText {
  position: absolute;
  right: 50%;
}
.customHeader.sapContrast.sapMText, .customHeader.sapContrast .sapMText {
  color: #1d2424;
}

                                                                 /*chapterSmartList*/
.customChapterSmartList .sapMFlexItem {
  max-height: 0;
}

                                                                 /*buttons*/
.customBlueButton .sapMBtnInner {
  background-color: #69849b;
  color: #1d2424;
}
.customGreenButton .sapMBtnInner {
  background-color: #3d6a66;
  color: #1d2424;
}

                                                                 /*formulaCarousel*/
.customFormulaCarousel .sapMCrslHud a {
  width: 4rem;
  height: 4rem;
}
.customFormulaCarousel .flip {
  width: 600px;
  height: 600px;
  top: 80px;
}
.customFormulaCarousel .flip .card .front,
.customFormulaCarousel .flip .card .back{
  background-color: #d0c3bd;
  color: #69849b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customFormulaCarousel .flip .card .face {
  line-height: 100px;
}

                                                                 /*flipCard*/
.flip {
  -webkit-perspective: 800;
  width: 150px;
  height: 150px;
  position: relative;
  margin: 50px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatey(180deg);
  -webkit-transition: -webkit-transform 0.1s ease-in;
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 3s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
  font-family: Georgia;
  font-size: 3em;
  text-align: center;
  line-height: 200px;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
  background: black;
  color: white;
  cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatey(180deg);
  -webkit-transition: -webkit-transform 0.1s ease-in;
  background: blue;
  background: white;
  color: black;
  cursor: pointer;
}



.sapMBtnInner {
  background-color: #69849b;
  color: #1d2424;
  font-weight: 600;
}

.sapMText {
  font-size: large;
}

.sapMLabelMaxWidth .sapMLabel {
  text-align: center;
}


                                                                 /*verticalLayout mainPage*/

.customVerticalLayout1.sapUiVlt,
.customVerticalLayout2.sapUiVlt,
.customVerticalLayout3.sapUiVlt,
.customVerticalLayout4.sapUiVlt {
  display: block;
  text-align: center;
}
.customVerticalLayout1.sapUiVlt {
  height: 100px;
}
.customVerticalLayout4.sapUiVlt {
  height: 400px;
}


.customVerticalLayout1 .sapMLabel {
  font-size: 36px;
  color:blue;
}


                                                                 /*customChapterSmartList*/
.customChapterSmartList .sapMLIB {
  background-color: lightgrey;
}