                                                                 /*pageMain*/
.pageMain {
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/background.png");
  background-size: cover;
}

                                                                 /*header*/
.customHeader.sapContrast.sapTntToolHeader.sapMTB,
.customHeader.sapTntToolHeader.sapMTB {
  background-color: transparent;
  border: 0;
}
.customHeader .sapMText {
  font-size: 1.7rem;
}
.customHeader .customHeaderText {
  position: absolute;
  right: 50%;
}
.customHeader.sapContrast.sapMText, .customHeader.sapContrast .sapMText {
  color: black;
}

                                                                 /*chapterSmartList*/
.customChapterSmartList .sapMFlexItem {
  max-height: 0;
}

                                                                 /*buttons*/
.customBlueButton .sapMBtnInner {
  background-color: blue;
}
.customGreenButton .sapMBtnInner {
  background-color: green;
}

                                                                 /*formulaCarousel*/
.customFormulaCarousel .sapMCrslHud a {
  width: 4rem;
  height: 4rem;
}
.customFormulaCarousel .flip {
  width: 600px;
  height: 600px;
  top: 80px;
}
.customFormulaCarousel .flip .card .front,
.customFormulaCarousel .flip .card .back{
  background-color: lightgrey;
  color: #346187;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customFormulaCarousel .flip .card .face {
  line-height: 100px;
}

                                                                 /*flipCard*/
.flip {
  -webkit-perspective: 800;
  width: 150px;
  height: 150px;
  position: relative;
  margin: 50px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatey(180deg);
  -webkit-transition: -webkit-transform 0.1s ease-in;
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 3s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
  font-family: Georgia;
  font-size: 3em;
  text-align: center;
  line-height: 200px;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
  background: black;
  color: white;
  cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatey(180deg);
  -webkit-transition: -webkit-transform 0.1s ease-in;
  background: blue;
  background: white;
  color: black;
  cursor: pointer;
}
